#headers{
position: absolute;
top:0px;
left:0px;
right:0px;
background-color: rgba(82,168,236,0.6);
}
h2{
 font-family: arial;
}
.box-table{
 background: whitesmoke;
 padding: 5px;
 margin: 20px 5px 5px 10px;
}
td{text-align: center;}

.ed-mail,.ed-user,.ed-pass{
 margin-top: 10px;
 display: none;
}

input[type='button'],button{
background:linear-gradient(rgba(82,168,236,0.7),#fff,rgba(82,168,236,0.7));
border:none;
border-radius:1px;
box-shadow:1px 1px 2px 0 #888;
text-shadow:1px 1px 6px #000;
color:#fff;
padding:5px;
border-radius:3px;
font-weight:bold;
}input[type='button']:active{color: #ff00ff;}
 button:active{color: #ff00ff;}

input[type='text'],input[type='email'],input[type='password']{
	width: 200px;
	height:25px;
}
/*
 Language :css;
 Author:na2m;
 Demo:na2m444.000webhostapp.com
*/