#header{
	background-color: rgba(82,168,236,0.8);
	font-family: arial;
	padding-right: 10px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
h2{
 font-family: arial;
 border-bottom: 1px solid grey;
 margin-bottom: 5px;
 background:linear-gradient( rgba(82,168,236,0.1), #fff);
}
#box_login{
 border: 1px;
 margin-bottom: 10px;
 position: absolute;
 top:40px;
 left:0;
 right:0;
 background:linear-gradient(#fff,rgba(82,168,236,0.6), #fff);
}
.login_top{
 margin:20px 0 20px 0;
}
.inboxlog{
 width:340px;
 margin: 0px 0px 10px 0px;
 border: 1px solid grey;
 border-radius: 5px;
 background-color: #00ff00;
}
.text_box{
 margin-bottom:15px;
}
.input_box{
background:none;
border:none;
border-bottom:2px solid #000;
text-indent:5px;
width:250px;
font-size:20px;
}
.btnlog{
background:whiteSmoke;
border:none;
border-radius:3px;
box-shadow:1px 1px 2px 0 #888;
font-weight:bold;
text-align:center;
text-shadow:1px 1px 6px #000;
color:#fff;
width:100px;
padding:5px;
}
.btnlog:active{
background:#ddd;
color:#ff00ff;
}
.bat_pas{
background:whiteSmoke;
border:none;
border-radius:1px;
box-shadow:1px 1px 2px 0 #888;
text-shadow:1px 1px 6px #000;
width:55px;
color:#fff;
padding:5px;
border-radius:3px;
font-weight:bold;
}
/* ===========================
  language:css
  Author:na2m
  Demo:na2m004.000webhostapp.com
============================= */

